.jx-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: var(--editor-header-height);
  padding: 0 20px;
  .header-left {
    flex: 1;
    display: flex;
    align-items: center;
    & > a {
      display: flex;
      margin-right: 20px;
    }
    .header-title-editable {
      display: flex;
      align-items: center;
      .title-plain {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      input {
        border: none;
        line-height: inherit;
        padding: 0;
        width: 200px;
      }
      .dropdown-entry {
        margin-left: 10px;
      }
    }
  }
  .header-menu {
    &-wrapper {
    flex: 1.5;
    display: flex;
      justify-content: center;
    }
    display: flex;
    gap: 20px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      line-height: 1;
      padding: 5px 8px;
      border-radius: 3px;
      &:hover {
        background-color: var(--blue-secondary);
        color: var(--blue-primary);
      }
      span {
        font-size: 12px;
        margin-top: 8px;
      }
    }
  }
  .header-action {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
  }
}

