.pithy-media-library-modal {
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding: 12px 0;
  }
}

.pithy-media-library {
  width: 431px;
  .el-tabs {
    height: 360px;
  }
  .el-tabs__content {
    height: 100%;
    .el-divider  {
      width: calc(100% - 10px);
    }
  }
  .el-tab-pane {
    height: 100%;
  }
  .media-list {
    video,
    img {
      width: 100px;
      height: 65px;
      cursor: pointer;
      border: 1px solid var(--el-border-color);
    }
    img {
      object-fit: cover;
    }
    video {
      object-fit: contain;
    }
  }
}