.jx-text-menu {
  padding: 12px;
  ul {
    li {
      cursor: pointer;
      color: #333;
      line-height: 1.5;
      &:nth-child(n+2) {
        margin-top: 8px;
      }
      &.list-sample span {
        display: list-item;
        list-style: disc;
        transform: translateX(1em);
      }
    }
  }
}
