.pithy-edit-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  .v-line,
  .h-line {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #FF00CC;
    z-index: 1;
  }
  .v-line {
    width: 1px
  }
  .h-line {
    height: 1px
  }
  .pithy-edit-box {
    outline: 1px solid #0099FF;
    outline-offset: -1px;
    position: relative;
    & > i {
      position: absolute;
      display: inline-block;
      background-color: #FFF;
      box-shadow: 0 0 6px rgb(27 24 60 / 10%), 0 0 2px rgb(39 34 93 / 75%);
      border-radius: 2px;
      pointer-events: auto;
      cursor: pointer;
    }
    .action-vertical {
      width: 6px;
      height: 16px;
      top: calc(50% - 8px);
      &-left {
        left: -3px;
      }
      &-right {
        right: -3px;
      }
    }
    .action-horizontal {
      width: 16px;
      height: 6px;
      left: calc(50% - 8px);
      &-top {
        top: -3px;
      }
      &-bottom {
        bottom: -3px;
      }
    }
    .action-vertex {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      &-bottom-right {
        right: -6px;
        bottom: -6px;
      }
    }
  }
}
