.pithy-edit-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  .v-line,
  .h-line {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #FF00CC;
    z-index: 1;
  }
  .v-line {
    width: 1px
  }
  .h-line {
    height: 1px
  }
  .pithy-edit-frame {
    position: relative;
    outline: 1px solid #0099FF;
    outline-offset: -1px;
  }

  &-inner {
    height: 0;
    width: 0;
  }

  .pithy-edit-actions {
    pointer-events: auto;
    & > i {
      position: absolute;
      display: inline-block;
      background-color: #FFF;
      box-shadow: 0 0 6px rgb(27 24 60 / 10%), 0 0 2px rgb(39 34 93 / 75%);
      border-radius: 2px;
      pointer-events: auto;
      cursor: pointer;

    }
    .action-rect-ver {
      width: 6px;
      height: 16px;
      top: calc(50% - 8px);
      &.ver-left {
        left: -3px;
        cursor: w-resize;
      }
      &.ver-right {
        right: -3px;
        cursor: e-resize;
      }
    }
    .action-rect-hor {
      width: 16px;
      height: 6px;
      left: calc(50% - 8px);
      &.hor-top {
        top: -3px;
        cursor: n-resize;
      }
      &.hor-bottom {
        bottom: -3px;
        cursor: s-resize;
      }
    }
    .action-dot {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      &.dot-bottom-right {
        bottom: -5px;
        right: -5px;
        cursor: se-resize;
    }
      &.dot-bottom-left {
        bottom: -5px;
        left: -5px;
        cursor: sw-resize;
      }
      &.dot-top-right {
        top: -5px;
        right: -5px;
        cursor: ne-resize;
      }
      &.dot-top-left {
        top: -5px;
        left: -5px;
        cursor: nw-resize;
      }
    }
  }
}
