.jx-avatar-menu {
  padding: 20px 12px;
  ul {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    padding: 4px;
    gap: 16px;
    li {
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 5px;
      background: #EFEFEF;
      cursor: pointer;
      &:hover {
        box-shadow: var(--blue-box-shadow);
      }
      &.active {
        box-shadow: var(--blue-box-shadow-border);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}