.pithy-slide-menu {
  &-wrapper {
    position: absolute;
    bottom: 20px;
  }
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(43, 42, 53, .12);
  font-size: 12px;
  display: flex;
  padding: 0 16px;
  & > button {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    cursor: pointer;
    color: #878787;
    padding: 5px 16px;
    &:hover {
      background-color: rgba(75, 96, 201, 0.08);
    }
    svg {
      margin-right: 5px;
    }
    &:nth-child(n+2) {
      margin-left: 20px;
    }
  }
}