.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  @extend .flex-between;
  align-items: center;
}


.px-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}