.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-center {
  @extend .flex-between;
  align-items: center;
}


.px-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}

.py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}
.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}
.event-enable {
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    background-color: var(--blue-secondary);
    // color: var(--blue-primary);
  }
  &.active {
    background-color: var(--blue-active);
    color: var(--blue-primary);
  }
}