
@import "./utils/variable";

:export {
  sidebarWidth: $sidebar-width;
  canvasRatio: $canvas-ratio;
  headerWidth: $header-width;
  canvasNaturalWidth: $canvas-natural-width;
  canvasNaturalHeight: $canvas-natural-height;
  optionsPanelWidth: $options-panel-width;
}