*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

body {
  font-size: 14px;
  color: #343b48;
}

button {
  color: inherit;
}


ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}