.jx-shape-menu {
  padding: 24px 16px;
  .element-wrapper {
    margin-top: 16px;
    & > li {
      zoom: .3;
      cursor: pointer;
      &:hover {
        outline: 1px solid var(--blue-primary);
      }
    }
  }
}