.jx-dashboard-page {
  .workspace-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      margin: 20px;
      padding: 8px;
      width: 260px;
      height: 160px;
      border: 1px solid #8E8E8E;
      
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

