.pithy-element-text {
  position: relative;
  color: #191919;
  line-height: 1.5;
  letter-spacing: 0;
  ul, p {
    margin: 0;
    &:nth-child(n+2) {
      margin-top: var(--paragraph-spacing);
    }
  }


  .text-placeholder {
    color: #888;
    z-index: 0;
    height: 0;
    opacity: 0.6;
  }
}
