.pithy-image-picker {
  position: relative;
  .picker-preview {
    border: 1px solid #dcdfe6;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    width: 90px;
    height: 55px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      user-select: none;
      -webkit-user-drag: none;
    }
    &-placeholder {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 21px;
        left: -10px;
        display: block;
        width: 100px;
        height: 3px;
        background-color: red;
        transform: rotate(150deg);
        transform-origin: center;
      }
    }
  }

  &:hover {
    .picker-reset {
      display: flex;
    }  
  }
  .picker-reset {
    color: #FFF;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}