@import '@/styles/utils/variable';
.pithy-editor-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;;
  height: $header-width;
  padding: 0 20px;
  .header-logo {
    display: flex;
    margin-right: 240px;
    img {
      height: 50px;
    }
  }
  .header-menu {
    display: flex;
    font-size: 12px;
    li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      svg {
        margin-top: 5px;
      }
      &:nth-child(n+2) {
        margin-left: 30px;
      }
    }
  }
}

