:root {
  // 定义元颜色
  --blue-primary: #505DFB;
  --blue-secondary: #ECF3FF;
  --blue-active: #E2ECFF;
  // 定义场景
  --gary-hover: #F5F5F5;

  --blue-hover: #ECF3FF;
  --blue-active: #E2ECFF;

  // 布局级边框
  --border-color: #E7E7E9;
  // 元素级边框
  --border-color-light: #F0EEEE;

  --text-color-dark: #3D3D3D;
  --text-color-regular: #494952;
  --text-color-light: #999999;

  --form-bg-color: #F5F5F5;

  --blue-box-shadow: #505efbcc 0px 0px 3px 1px;
  --blue-box-shadow-border: #505efb 0px 0px 0px 2px;
}

