.ss-editor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  .header-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      svg {
        margin-top: 5px;
      }
      &:nth-child(n+2) {
        margin-left: 30px;
      }
    }
  }
}

