.pithy-editor-page {
  width: 100vw;
  height: 100vh;
  & > div {
    display: flex;
    height: calc(100vh - 60px);
    background-color: #F5F5F5;
    main {
      position: relative;
      flex-grow: 1;
      padding: 12px;
      overflow: hidden;
    }
  }
  .pithy-editor-main {
    position: relative;
    overflow: hidden;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}