@import '@/styles/utils/variable';

.pithy-editor-page {
  width: 100vw;
  height: 100vh;
  & > div {
    display: flex;
    height: calc(100vh - $header-width);
    background-color: #F5F5F5;
    main {
      position: relative;
      flex-grow: 1;
      padding: 12px;
    }
  }
  .pithy-editor-main {
    position: relative;
    overflow: hidden;
  }
}