

.pithy-options-panels {
  flex-basis: var(--editor-menu-width);
  flex-shrink: 0;
  border-left: 1px solid var(--border-color);
  padding: 15px;
  overflow-y: auto;
  hr {
    margin: 20px 0;
    background-color: #F5F5F5;
    height: 1px;
    border: 0;
  }
}

