.pithy-editor-aside {
  position: relative;
  display: flex;
  flex-basis: var(--editor-sidebar-width);
  flex-shrink: 0;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  .aside-slider {
    padding-top: 20px;
    padding-right: 15px;
    overflow-y: overlay;
    flex-grow: 1;
    &-item {
      padding: 12px 15px 12px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      cursor: pointer;
      .item-order {
        color: var(--text-color-dark);
      }
      .item-thumbnail {
        position: relative;
        border: 1px solid var(--border-color);
        &:hover .item-actions {
          display: flex;
        }
      }
      &.active {
        background-color: #ECF3FF;
        & > .item-thumbnail {
          border-color: #5A72DD;
        }
      }
    }
  }

  .aside-btn {
    flex-basis: 50px;
    flex-shrink: 0;
    outline: 0;
    border: 0;
    border-top: 1px solid var(--border-color);
    color: var(--blue-primary);
    cursor: pointer;
    background: #FFFFFF;
  }
}