@import '@/styles/utils/variable';

.pithy-editor-aside {
  position: relative;
  display: flex;
  flex-basis: $sidebar-width;
  flex-shrink: 0;
  flex-direction: column;
  border-right: 1px solid #E7E7E9;
  .aside-slider {
    padding: 12px;
    overflow-y: auto;
    flex-grow: 1;
    &-item {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      & > .item-indicator {
        visibility: hidden;
        width: 3px;
        transform: translate(-5px);
        background-color: #5B72DD;
      }
      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 30px;
        color: #666;
      }
      .item-thumbnail {
        position: relative;
        &:hover i {
          display: flex;
        }
        i {
          display: none;
          border-radius: 2px;
          color: #FFF;
          position: absolute;
          bottom: 5px;
          right: 5px;
          padding: 2px;
          background-color: rgba($color: #1a1a1a, $alpha: .4);
        }
      }
      &.active {
        & > i {
          visibility: visible;
        }
        & > .item-thumbnail {
          outline:1px solid #5B72DD;
        }
      }
    }
  }

  .aside-btn {
    flex-basis: 42px;
    flex-shrink: 0;
    outline: 0;
    border: 0;
    border-top: 1px solid $border-color;
    cursor: pointer;
    background: #FFFFFF;
  }
}