@import "@/styles/utils/variable";

.pithy-canvas {
  &-container {
    position: relative;
    overflow: hidden;
  }
  &-inner {
    position: relative;
    width: 1920px;
    font-size: 40px;
    aspect-ratio: $canvas-ratio;
    overflow: hidden;
  }

  transform-origin: left top;
}