.pithy-beautify-box {
  .pithy-templates {
    width: 100%;
    display: flex;
    padding: 10px 2px;
    & > * {
      flex-shrink: 0;
      &:hover {
        outline: 1px solid #5B72DD;
      }
    }
    & > *:nth-child(n+2) {
      margin-left: 15px;
    }
  }
}
